<?xml version='1.0' encoding='utf-8'?>
<widget id="com.evothings.evothingsstudioapp"
	version="1.0.0"
	android-versionCode="1"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EvothingsApp</name>
    <description>
        Mobile app for Evothings Studio.
    </description>
    <author email="info@evothings.com" href="http://evothings.com">
        Evothings AB
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="default" />
    <preference name="BackgroundColor" value="0xffffffff"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="FadeSplashScreen" value="false" />
	<preference name="EnableViewportScale" value="true" />
	<preference name="AndroidLaunchMode" value="singleTask" />
	<preference name="BackupWebStorage" value="local" />
</widget>
