<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.evothings.evothingsviewer.config-plugin"
	version="1.0.0">

	<name>Evothings Viewer Config Plugin</name>
	<description>Plugin that adds platform config settings to Evothings Viewer app.</description>
	<license>MIT</license>
	<keywords>Evothings, Internet of Things, IoT, JavaScript</keywords>

	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
			<intent-filter>
				<data android:scheme="evothings" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
			<intent-filter>
				<data android:scheme="evo" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
			<intent-filter>
				<data android:scheme="evos" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</config-file>
	</platform>

	<platform name="ios">
		<config-file target="*-Info.plist" parent="UIStatusBarHidden">
			<true/>
		</config-file>
		<config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
			<false/>
		</config-file>
		<config-file target="*-Info.plist" parent="UIRequiresFullScreen">
			<true/>
		</config-file>
		<config-file target="*-Info.plist" parent="NSAppTransportSecurity">
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
			</dict>
		</config-file>
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
			<array>
				<dict>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>evothings</string>
						<string>evo</string>
						<string>evos</string>
					</array>
				</dict>
			</array>
		</config-file>
		<config-file target="*-Info.plist" parent="UISupportedInterfaceOrientations">
			<array>
				<string>UIInterfaceOrientationPortrait</string>
				<string>UIInterfaceOrientationPortraitUpsideDown</string>
				<string>UIInterfaceOrientationLandscapeLeft</string>
				<string>UIInterfaceOrientationLandscapeRight</string>
			</array>
		</config-file>
		<config-file target="*-Info.plist" parent="UISupportedInterfaceOrientations~ipad">
			<array>
				<string>UIInterfaceOrientationPortrait</string>
				<string>UIInterfaceOrientationPortraitUpsideDown</string>
				<string>UIInterfaceOrientationLandscapeLeft</string>
				<string>UIInterfaceOrientationLandscapeRight</string>
			</array>
		</config-file>
	</platform>

</plugin>

